.headerMainWrapper {
  background: var(--box-bg-color);
  width: 100%;
  height: auto;
  padding: 12px 10px 10px;
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--box-border-color);
  position: fixed;
  top: 0;
  /* left: 0;
  right: 0; */
  width: 100vw;
  z-index: 999;
}

.headerInnerWrapper {
  width: 74vw;
  max-width: 990px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logoImg {
  width: 101px;
  height: auto;
  margin-top: 4px;
}
.imgDiv {
  display: flex;
}

.searchInp {
  background: var(--bg-color);
  border: 1px solid var(--box-border-color);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  width: 180px;
}
/* .imgDiv {
  flex-grow: 4;
  flex-shrink: 2;
}

.searchDiv {
  flex-grow: 4;
  flex-shrink: 3;
}

.navLinks {
  flex-grow: 2;
  flex-shrink: 2;
} */

.listWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.singleItem {
  list-style-type: none;
  position: relative;
}

.icon {
  width: 28px;
  height: auto;
  cursor: pointer;
  margin-right: 16px;
}

.lastIcon {
  margin-right: 0px;
  width: 25px;
  height: 25px;
  border-radius: 48px;
  object-fit: contain;
  border: 1px solid var(--box-border-color);
}

.profileDropDownMenu {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0px;
  margin: 0px;
  padding-top: 0px;
}

.profileDropDownli {
  list-style-type: none;
  padding: 10px 16px;
  z-index: +1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

.profileDropDownli:hover {
  background: #fafafa;
}

.linkDropDown {
  color: black;
}

.logOut {
  border-top: 1px solid var(--box-border-color);
}

.profileDropDownText {
  margin-left: 10px;
}
.notifWrapper {
  padding: 0px;
  margin-top: 30px;
}
.dropDownNotif {
  max-width: 470px;
  width: 90vw;
  display: flex;
  padding: 10px;
  flex-direction: column;
  color: var(--primary-black-color);
  list-style-type: none;
  max-height: 400px;
}

.singleNotif {
  color: var(--primary-black-color);
  padding: 22px 12px;
  border-bottom: 1px solid var(--box-border-color);
}

.noNotif {
  width: 100%;
  text-align: center;
  padding: 0px;
  font-weight: 400;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .headerMainWrapper {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* width: 100%; */
    margin: 0px;
  }
  .headerInnerWrapper {
    width: 94vw;
    padding: 0px 0px;
    display: flex;
  }
  .searchDiv {
    display: none;
  }
  .icon {
    margin-right: 8px;
  }
}
