.mainWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* height: 100vh;
  height: auto; */
  margin: 90px 0px 40px;
}

.postContainer {
  width: 75%;
  /* height: auto; */
  min-width: 768px;
  max-width: 1000px;
  display: flex;
  background: var(--box-bg-color);
  border: 1px solid var(--box-border-color);
  flex-direction: row;
  border-radius: 4px;
}

.imageContainer {
  width: 65%;
  border-right: 1px solid var(--box-border-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.mediaImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* height: 100%; */
}

.detailsContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.imageNameDiv {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid var(--box-border-color);
}
.linkImgName {
  display: flex;
  align-items: center;
}
.userProfileImg,
.commentImg {
  width: 40px;
  height: 40px;
  border: 1px solid var(--box-border-color);
  border-radius: 100px;
  object-fit: contain;
  margin-right: 12px;
}

.authorUserName,
.commentAuthorName {
  font-weight: 600;
  font-size: 15px;
  color: var(--primary-black-color);
}

.commentSection {
  width: 100%;
  display: flex;
  min-height: 0px;
  max-height: 520px;
  /* max-height: 10.1%; */
  overflow-y: scroll;
  /* overflow-x: hidden; */
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word; /* All browsers since IE 5.5+ */
}
.commentSection::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.commentSection {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.innerCommentSection {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.singComment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-wrap: break-word;
  word-break: break-all;
}

.authorData {
  display: flex;
  align-items: center;
}
.commentContetn {
  overflow-wrap: break-word;
  word-break: break-all;
}
.commentContent {
  font-size: 14px;
  margin-left: 8px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.reactDiv {
  padding: 20px;
  border-top: 1px solid var(--box-border-color);
  border-bottom: 1px solid var(--box-border-color);
}

.iconReact {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: 10px;
}

.likedByDiv {
  margin-top: 4px;
}

.likedCountNum {
  font-size: 15px;
  font-weight: 500;
}
.likesLink {
  color: var(--primary-black-color);
  margin-left: 4px;
  font-weight: 700;
  cursor: pointer;
}

.commentPostSection form {
  display: flex;
  align-items: flex-start;
  padding: 16px;
}
.commentInp {
  border: 0px;
  width: 100%;
  height: auto;
  max-height: 60px;
  background: transparent;
}

.commentBtn {
  background: transparent;
  border: 0px;
  color: var(--primary-blue-color);
  font-weight: 600;
  font-size: 14px;
}
.commentBtn:disabled {
  color: rgba(0, 146, 249, 0.3);
}

@media only screen and (min-width: 800px) {
  .nameDivUpper {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .postContainer {
    width: 100%;
    flex-direction: column;
    background: transparent;
    border: 0px;
    max-width: 100%;
    min-width: 0px;
  }
  .nameDivUpper {
    display: "";
    width: 100%;
    border: 0px;
    max-width: 100%;
    min-width: 0px;
  }
  .nameDivLower {
    display: none;
  }
  .detailsContainer {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 0px;
  }
  .imageContainer {
    width: 100%;
    max-width: 100%;
    min-width: 0px;
  }

  .commentSection {
    max-width: 100%;
    min-width: 0px;
    max-height: 200px;
  }
}
