.mainPostsWrappers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0px 40px;
  flex-direction: column;
  align-items: center;
}

.postWrapper {
  width: 60%;
  background: var(--box-bg-color);
  border: 1px solid var(--box-border-color);
  border-radius: 4px;
  margin: 16px 0px;
  max-width: 615px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  min-width: 600px;
}

.postHeader {
  display: flex;
  padding: 12px 14px;
  justify-content: flex-start;
  align-items: center;
}

.authorImg {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 40px;
  margin-right: 16px;
  border: 1px solid var(--box-border-color);
}

.authorusername {
  font-size: 14px;
  color: #262626;
  margin-bottom: 4px;
}
.mediaLocation {
  font-size: 12px;
  font-weight: 400;
}
.mediaData {
  width: 100%;
  height: auto;
}

.footer,
.captionDetails,
.commentSection {
  padding: 10px 14px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerReactIcons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.heartReactIcon,
.bookMarkIcon,
.commentIcon {
  font-size: 24px;
  cursor: pointer;
}

.heartReactIcon {
  margin-right: 14px;
}

.captionDetails {
  padding-top: 0px;
}

.caption {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.captionDetails h6 {
  font-size: 10px;
  font-weight: 500;
}

.commentSection {
  border-top: 1px solid var(--box-border-color);
}

.commentSection form {
  display: flex;
  align-items: center;
  padding: 4px 0px;
}
.commentInp {
  border: 0px;
  width: 100%;
  height: 20px;
  background: transparent;
}

.commentBtn {
  background: transparent;
  border: 0px;
  color: var(--primary-blue-color);
  font-weight: 600;
  font-size: 14px;
}

.commentDisplaySection {
  width: 100%;
  display: flex;
  max-height: 220px;
  /* max-height: 10.1%; */
  overflow-y: scroll;
  /* overflow-x: hidden; */
  border-top: 1px solid var(--box-border-color);
  border-bottom: 1px solid var(--box-border-color);
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word; /* All browsers since IE 5.5+ */
  box-sizing: border-box;
  margin: 4px 0px 10px;
}
.commentDisplaySection::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.commentDisplaySection {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.innerCommentSection {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.singComment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-wrap: break-word;
  word-break: break-all;
}
.commentImg {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: contain;
  border: 1px solid var(--box-border-color);
}
.authorData {
  display: flex;
  align-items: center;
}
.commentContetn {
  overflow-wrap: break-word;
  word-break: break-all;
}
.commentContent {
  font-size: 14px;
  margin-left: 8px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.commentDetails {
  margin-left: 10px;
  margin-top: 6px;
}
.commentDetails a {
  color: var(--primary-black-color);
  font-weight: 600;
}

.likesCount {
  font-size: 15px;
  margin-left: 16px;
  font-weight: 500;
}
.likesLink {
  color: var(--primary-black-color);
  font-weight: 600;
}

.noPostMsg {
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
}
@media only screen and (max-width: 660px) {
  .postWrapper {
    border: 0px;
    background: transparent;
    min-width: 100vw;
    max-width: 100vw;
  }
}
